extend tmpl/tmpl

//. 页面配置
block config
	-var title = "首页"
	-var cssname ="about"
	-var jsname = "about"
	-var about = true

block content
	.g-body
		.g-content.p-w
			ul.m-menu.left
				li
					a(href="ß") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li.on
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
			.m-content.left
				.gaikuang
					h2.cRed 公司概况
					p 公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况
					p
						img(src="static/img/logo.png", alt="")
					h3.cRed 定位
					p 
						|公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况<br>
						|公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况
					h3.cRed 定位
					p 
						|公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况
					h3.cRed 定位
					p 
						|公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况公司概况

					