extend tmpl/tmpl

//. 页面配置
block config
	-var title = "首页"
	-var cssname ="about"
	-var jsname = "about"
	-var about = true

block content
	.g-body
		.g-content.p-w
			ul.m-menu.left
				li
					a(href="ß") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li.on
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
				li
					a(href="") 管理团队
			.m-content.left
				.meiti
					h2.cRed 媒体报道
					.list
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
						dl
							dt
								a(href="") 【界面】易BANK任军霞：工行存款冻结、卓达高息揽储和MMM骗局背后都是高息风险
								dd 2015.12.02
					.page
						span 1
						a(href="") 2
						a(href="") 3
						a(href="") 4
						a(href="") 5
						a(href="") 6
						a(href="") >
						a(href="") >>