extend tmpl/tmpl

//. 页面配置
block config
	-var title = "首页"
	-var cssname ="index"
	-var jsname = "index"
	-var index = true
block head
	script.
		var loginType = 1
	
block content
	.m-foc
		ul.foc#foc
			li(background='#d92621 url(static/img/index_foc.jpg) center 0 no-repeat')
				a(target="_blank" ,href="")
			li(background='#d92621 url(static/img/index_foc.jpg) center 0 no-repeat')
				a(target="_blank" ,href="")
			li(background='#d92621 url(static/img/index_foc.jpg) center 0 no-repeat')
				a(target="_blank" ,href="")
		p#arw.arw
	.m-flag.p-w
		.list
			dl
				dt &#xe604;
				dd
					strong.f16 安全
					p 100％本金保障<br>资金银行监管
			dl
				dt &#xe605;
				dd
					strong.f16 安全
					p 100％本金保障<br>资金银行监管
			dl
				dt &#xe606;
				dd
					strong.f16 安全
					p 100％本金保障<br>资金银行监管
			dl
				dt &#xe607;
				dd
					strong.f16 安全
					p 100％本金保障<br>资金银行监管
	.g-content
		.m-note.p-w
			dl.left.list
				dt 易BANK公告
				dd
					ul#note
						li
							a.cRed(href="") ”年终奖“ 来袭！双节HIGH起来！！
							span 2015.12.18
						li
							a(href="") ”年终奖“ 来袭！双节HIGH起来！！
							span 2015.12.18
						li
							a(href="") ”年终奖“ 来袭！双节HIGH起来！！
							span 2015.12.18
						li
							a(href="") ”年终奖“ 来袭！双节HIGH起来！！
							span 2015.12.18
			.more.right
				a.cGray(href="") 更多公告 >

		.m-newer.p-w
			.sup
				img(src="static/img/index_newer.png", alt="")
			.financial
				dl.title
					dt.f22 新手标[20151231-01]
					dd
						a.cBlue(href="") 100元起投，限投5000元
				ul.detail
					li.number
						|年化收益
						span.f18.cRed
							em 20
							| %
					li.days
						|项目期限
						span.f18
							em 30
							| 天
					li.progress
						em#J_progress.cRed(data-num="75")
							span 75
							|%
					li.button
						strong.u-button-2 立即投资
			.help.right
				a(href="")
					img(src="static/img/index_newer_help.jpg", alt="")
		.m-newer.p-w
			.sup
				img(src="static/img/index_newer.png", alt="")
			.financial
				dl.title
					dt.f22 新手标[20151231-01]
					dd
						a.cBlue(href="") 100元起投，限投5000元
				ul.detail
					li.number
						|年化收益
						span.f18.cRed
							em 20
							| %
					li.days
						|项目期限
						span.f18
							em 30
							| 天
					li.progress
						em#J_progress.cRed(data-num="75")
							span 75
							|%
					li.button
						a.u-button(href="") 立即投资
			.help.right
				a(href="")
					img(src="static/img/index_newer_help.jpg", alt="")
		.m-title.p-w
			strong.f24 易产品
			| 帮您选择对的

		.m-buylist.p-w
			.item
				.bg01.cWhite
					h3.f22 央票通
					ul.f16
						li
							a(href="") 央企支付信用
						li
							a(href="") 应收帐款
						li
							a(href="") 双向闭环
						li
							a(href="") 全程监控
						li
							a(href="") 到期还本付息
					p
						a(href="") 产品详情
				.row
					dl.title
						dt
							a.f20 央票通[1022]央企·国电南瑞支付担保融资第1期
						dd
							em
								span(data-width="70%")
							p.J_number
								strong(data-num=70) 65.24
								|%
					ul
						li.t1 年化收益
							span.cRed 9.5%
						li.t2 项目期限
							span 180
							|天
						li.t3 金额
							span 100
							|万
						li.button
							a.u-button(href="") 立即投资
				.row
					dl.title
						dt
							a.f20 央票通[1022]央企·国电南瑞支付担保融资第1期
						dd
							em
								span(data-width="70%")
							p.J_number
								strong(data-num=70) 65.24
								|%
					ul
						li.t1 年化收益
							span.cRed 9.5%
						li.t2 项目期限
							span 180
							|天
						li.t3 金额
							span 100
							|万
						li.button
							a.u-button(href="") 立即投资
			.item
				.cWhite.bg02
					h3.f22 融租通
					ul.f16
						li
							a(href="") 央企支付信用
						li
							a(href="") 应收帐款
						li
							a(href="") 双向闭环
						li
							a(href="") 全程监控
						li
							a(href="") 到期还本付息
					p
						a(href="") 产品详情
				.row
					dl.title
						dt
							a.f20 央票通[1022]央企·国电南瑞支付担保融资第1期
						dd
							em
								span(data-width="70%")
							p.J_number
								strong(data-num=70) 65.24
								|%
					ul
						li.t1 年化收益
							span.cRed 9.5%
						li.t2 项目期限
							span 180
							|天
						li.t3 金额
							span 100
							|万
						li.button
							a.u-button(href="") 立即投资
				.row
					dl.title
						dt
							a.f20 央票通[1022]央企·国电南瑞支付担保融资第1期
						dd
							em
								span(data-width="70%")
							p.J_number
								strong(data-num=70) 65.24
								|%
					ul
						li.t1 年化收益
							span.cRed 9.5%
						li.t2 项目期限
							span 180
							|天
						li.t3 金额
							span 100
							|万
						li.button
							a.u-button(href="") 立即投资
			.item
				.cWhite.bg03
					h3.f22 商信通
					ul.f16
						li
							a(href="") 央企支付信用
						li
							a(href="") 应收帐款
						li
							a(href="") 双向闭环
						li
							a(href="") 全程监控
						li
							a(href="") 到期还本付息
					p
						a(href="") 产品详情
				.row
					dl.title
						dt
							a.f20 央票通[1022]央企·国电南瑞支付担保融资第1期
						dd
							em
								span(data-width="70%")
							p.J_number
								strong(data-num=70) 65.24
								|%
					ul
						li.t1 年化收益
							span.cRed 9.5%
						li.t2 项目期限
							span 180
							|天
						li.t3 金额
							span 100
							|万
						li.button
							a.u-button(href="") 立即投资
				.row
					dl.title
						dt
							a.f20 央票通[1022]央企·国电南瑞支付担保融资第1期
						dd
							em
								span(data-width="70%")
							p.J_number
								strong(data-num=70) 65.24
								|%
					ul
						li.t1 年化收益
							span.cRed 9.5%
						li.t2 项目期限
							span 180
							|天
						li.t3 金额
							span 100
							|万
						li.button
							em.u-button-2(href="") 还款中
		.m-news.p-w
			.enews
				h3.f18 易媒体
				dl.f12
					dt
						img(src="static/img/index_newer_help.jpg")
					dd
						strong 
							a.cBlack 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
						p
							|山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
				ul.f12.cBlack
					li
						a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
					li
						a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
					li
						a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
			.note.cBlack
				dl
					dt.f18 公告
					dd.f12
						p
							strong
								a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
							span 2016-01-02
						p
							strong
								a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
							span 2016-01-02
						p
							strong
								a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
							span 2016-01-02
				dl
					dt.f18 公告
					dd.f12
						p
							strong
								a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
							span 2016-01-02
						p
							strong
								a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
							span 2016-01-02
						p
							strong
								a(href="") 山东金融资产交易中心山东金融资产交易中心山东金融资产交易中心
							span 2016-01-02
			.line
		dl.m-partner.p-w
			dt.f18 合作伙伴
			dd
				ul
					li
						a(href="")
							img(src="static/img/index_fr01.jpg", alt="")
					li
						a(href="")
							img(src="static/img/index_fr02.jpg", alt="")
					li
						a(href="")
							img(src="static/img/index_fr03.jpg", alt="")
		.m-frlink.f12.p-w
			|友情链接：
			a 山东金融资产交易中心
			a 山东金融资产交易中心

		



