extend tmpl/tmpl

//. 页面配置
block config
	-var title = "首页"
	-var cssname ="list"
	-var jsname = "list"
	-var financial = true

block content
	ul.m-menu.p-w.f18
		li
			a.cRed(href="") 全部
		li
			a(href="") 央票通
		li
			a(href="") 融租通
		li
			a(href="") 商票通
		li
			a(href="") 易贷通
		li
			a(href="") 新手标
	.m-filter.p-w
		dt 项目筛选
			span
		dd
			.item
				em 项目时间：
				.option
					span.cRed 全部
					a(href="") 3-12个月
					a(href="") 3-12个月
					a(href="") 3-12个月
					a(href="") 3-12个月
			.item
				em 年化收益：
				.option
					span.cRed 全部
					a(href="") 3-12个月
					a(href="") 3-12个月
					a(href="") 3-12个月
					a(href="") 3-12个月
			.item
				em 项目状态：
				.option
					span.cRed 全部
					a(href="") 3-12个月
					a(href="") 3-12个月
					a(href="") 3-12个月
					a(href="") 3-12个月
	.m-list.p-w
		ul.title
			li.li1 项目
			li.li2 项目
			li.li3 项目
			li.li4 项目
			li.li5 项目
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				a.u-button 立即投资
		ul.item
			li.li1
				a(href="") 融租通【3197】融资租赁•银通...
			li.li2.cRed
				span 14.0
					|%
			li.li3.f16 180天
			li.li4.f16 100万元
			li.li5
				em
					span
				strong.f12 65.24%
			li.li6
				span.u-button-2 还款中
	.m-page.p-w
		span 1
		a(href="") 2
		a(href="") 3
		a(href="") 4
		a(href="") 5
		a(href="") 6
		a(href="") >
		a(href="") >>










