@import 'lib/_reset';
@import 'lib/_public';
body{
    font-size: 14px;color:$black;
}

a {
    color: $gray;cursor: pointer;
    &:hover {
        color: $hover;
    }
}

em{font-style: normal;}

.block{display: block;}
.none{display: none;}
.left{float: left;}
.right{float: right;}
.fa{font-family:Arial}
.ftc{text-align: center;}
.ftr{text-align: right;}
.ftl{text-align: left;}

@include setColor(cRed,$red)
@include setColor(cBlue,$blue)
@include setColor(cGray,$gray)
@include setColor(cWhite,#fff)
@include setColor(cBlack,$black)

@include fontSize(f12, 12px);
@include fontSize(f14, 14px);
@include fontSize(f16, 16px);
@include fontSize(f18, 18px);
@include fontSize(f20, 20px);
@include fontSize(f22, 22px);
@include fontSize(f24, 24px);
@include fontSize(f26, 26px);
@include fontSize(f28, 28px);


@font-face {font-family: "iconfont";
  src: url('../img/iconfont.eot'); /* IE9*/
  src: url('../img/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../img/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../img/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../img/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.p-w{
    width: $width;margin: auto;
}

.p-toper {
    font-size: 12px;height: 36px;background: #f9f9f9;border-bottom: 1px solid $border;min-width: $width;
    .content {
        dt {
            line-height: 32px;
            span{font-family: "iconfont";}
        }
        dd {
            em{
                display: inline-block;line-height: 36px;padding:0 19px;border-left: 1px solid $border;
            }
        }
        .app {
            span{font-family: "iconfont";}
        }
        .help {

        }
        .msg {
            span{
                background: $red;display: inline-block;color:#fff;line-height: 18px;padding:0 6px;border-radius: 10px;margin-left: 3px;
            }
        }
        .uname {
            border-left: none;
        }
    }

}
.p-header {
    height: 76px;overflow: hidden;
    .logo {
        
        dt{
            width: 183px;float: left;
        }
        dd{
            float: left;width: 170px;
        }
    }
    .login {
        padding-top: 22px;width: 162px;overflow: hidden;
        dt,dd{
            float: left;
        }
        dd{
            position: relative;margin-left: -1px;
        }
        a{
            display: block;line-height: 32px;width: 79px;text-align: center;border:1px solid $border;@include tran();
            &:hover,&.on{
                background: $red;color: #fff;border:1px solid $red;
            }
        }
    }
    .islogin{
        margin-top: 28px;position: relative;height: 30px;
        dt{
            font-family: "iconfont";font-size:26px;color:#8f8f8f;position: absolute;left:0;top:0;
        }
        dd{
            padding: 6px 0 0 35px;
            a{
                background: url(../img/base_arw.png) right center no-repeat;display: inline-block;padding-right: 16px;
            }
        }
    }
}


.p-login{
    padding:22px 25px;width: 262px;overflow: hidden;background: #fff;border-radius: 8px;border:1px solid $border;
    h2{
        height: 24px;font-size: 16px;font-weight: 400;
    }
    .err{
        height: 20px;
    }
    .item{
        height: 60px;position: relative;
        input,span{
            width: 260px;height: 30px;border:1px solid $border;padding:5px 0;line-height: 30px;text-indent: 8px;display: block;border-radius: 7px;
        }
        input{
            position: absolute;left: 0;top:0;border:1px solid $border;background: none;
        }
        span{
            color: #cdcdcd;
        }
    }
    .code{
        height: 60px;
        dt{
            position: relative;float: left;
            input,span{
                width: 160px;height: 30px;border:1px solid $border;padding:5px 0;line-height: 30px;text-indent: 8px;display: block;border-radius: 7px;
            }
            input{
                position: absolute;left: 0;top:0;border:1px solid $border;background: none;
            }
            span{
                color: #cdcdcd;
            }
        }
        dd{
            float: right;width: 94px;
            img{
               width: 94px;height: 40px; 
            }
        }
    }

    .remember{
        height: 30px;width: 262px;overflow: hidden;
        dt{
            float: left;vertical-align: middle;
            input{
                vertical-align: middle;
            }
            label{
                color:#8b8b8b;display: inline-block;vertical-align: middle;
            }
        }
        dd{
            float: right;

        }
    }
    .button{
        height: 56px;
        a{
            width: 262px;
        }
    }
    .signup{
        text-align: center;
    }
}

.p-islogin{
    position: absolute;z-index: 10;
    a{
        width: 97px;text-align: center;line-height: 29px;border-bottom: 1px dashed $border;background: #f9f7f7;display: block;
        &:hover{
            background: #bcbcbc;
        }
    }
}
    
.p-menu{
    font-size: 16px;background: $red;min-width: $width;
    ul{
        overflow: hidden;
    }
    li{
        float: left;
    }
    a{
        display:block;width: 128px;height: 40px;line-height: 40px;text-align: center;color:#fff;@include tran();
        &.on,&:hover{
            background: $hover;
        }
    }
}
.p-footer{
    background: #e2e2e2;
    .content{
        overflow: hidden;
    }
    .flag{
        width: 145px;padding-top: 28px;
    }
    .option{
        padding-top: 28px;width: 582px;overflow: hidden;
    }
    .link{
        width: 100%;overflow: hidden;height: 90px;
        dt{
            width: 358px;overflow: hidden;float: left;
        }
        dd{
            float: left;color: #505050;
            strong{
                display: block;font-size: 16px;height: 32px;
            }
        }
        ul{
            width: 360px;
        }
        li{
            width: 90px;height: 32px;float: left;
        }
    }

    .copyright{
        height: 30px;
    }
    .safe{
        a{
            display: inline-block;width: 65px;height: 30px;background: url(../img/base_icon04.png);@include tran();
            &:hover{
                background-position: 0 -30px;
            }
            &.a2{
                width: 82px;background-position: -65px 0;margin-left: 10px;
                &:hover{
                    background-position: -65px -30px;
                }
            }
        }
        text-align: right;padding-bottom: 28px;
    }
    .code{
        border-left: 1px solid #bbb;margin-top: 20px;width: 202px;padding-left: 28px;overflow: hidden;
        ul{
            width: 180px;overflow: hidden;
        }
        li{
            width: 60px;float: left;height: 53px;font-size: 40px;font-family: "iconfont";
        }
        dl{

        }
        dt{
            height: 30px;
        }
        dd{
            width: 100%;overflow: hidden;
            div{
                width: 88px;float: left;
                strong{
                    display: block;text-align: center;width: 68px;
                }
            }
        }
    }
}

.u-button,.u-button-2{
    background: $red;@include tran();display: inline-block;width: 130px;line-height: 36px;text-align: center;border-radius: 5px;color: #fff;height: 36px;
}
.u-button:hover{
    background: $hover;color: #fff;
}

.u-button-2{
    background: #e3e3e3;color:#7d7d7d;
}

.p-gettop{
    position: fixed;top: 300px;right: 100px;z-index: 10;
    a{
        display:block;width: 60px;height: 60px;line-height: 60px;font-size: 40px;text-align: center;background: #d8d8d8;color: #fff;font-family: "iconfont";margin-bottom: 10px;position: relative;-webkit-transform: translateZ(0);transform: translateZ(0);
        &:hover{
            &:before{
                -webkit-transform: scale(1);transform: scale(1);
            }
        }
        &:before {
          content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background:$hover;-webkit-transform: scale(0);transform: scale(0);-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;
        }
    }
}

.p-page{
    height: 64px;padding-top: 17px;
    a,span{
        margin: 0 9px;display: inline-block;line-height: 20px;
    }
    span{
        background: $red;color:#fff;padding:0 6px;
    }
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}